{{- define "main" -}}
<div class="wrapper">
  <header class="header">
    <h1 class="header-title center" itemprop="headline">{{ .Title | htmlEscape }}</h1>
  </header>
  <main class="page-content" aria-label="Content">
    <div class="search-article">
      <label for="search-input" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </label>
      <input type="search" id="search-input" placeholder="Search Posts" aria-label="Search">
    </div>
    
    <ul id="search-results"></ul>
    
    {{ if .Pages }}
      {{ $pages := .Pages.GroupByDate "2006" }}
      {{ $pages = .Paginate $pages "20" }}
      {{ $pages = .Paginate $pages}}
      {{ range $pages.PageGroups }}
        <h2 id="{{ .Key }}">{{ .Key | upper }}</h2>
        {{ range .Pages }}
          <article class="post-item">
            <h3 class="post-item-title">
              <a href="{{ .Permalink }}">{{ .Title | htmlEscape}}</a>
            </h3>
          </article>
        {{ end }}
      {{ end }}
    {{ end }}

  </main>
</div>
{{- end -}}
