{{- define "main" -}}
<div class="wrapper">
  <header class="header">
    <h1 class="header-title center" itemprop="headline">{{ .Title | htmlEscape}}</h1>
  </header>
  <main class="page-content" aria-label="Content">
    <div class="archive-tags">
      <a href="#" class="tag-item">all</a>
      {{ $type := .Type }}
      {{ $taxonomies := .Data.Plural }}
      {{ $terms := .Data.Terms.ByCount}}
      {{ range $.Site.Taxonomies.tags.ByCount }}
      <a href="{{ .Page.Permalink }}" class="tag-item">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
      {{ end }}
    </div>
  </main>
</div>
{{- end -}}
